---
/* eslint import/no-unresolved: off */
import { getCollection, render } from "astro:content";
import type { GetStaticPaths, InferGetStaticPropsType } from "astro";
import Layout from "@/layout/layout.astro";
import { AstroMap } from "@/components";
import { menu, siteMetadata } from "@/data";
import { css } from "styled-system/css";

export const getStaticPaths = (async () => {
  const examples = await getCollection("examples");

  return examples.map((entry) => ({
    params: {
      slug: entry.id,
    },
    props: {
      entry,
    },
  }));
}) satisfies GetStaticPaths;

type Props = InferGetStaticPropsType<typeof getStaticPaths>;
const { entry } = Astro.props;
const { title, layerId } = entry.data;
const { Content } = await render(entry);
---

<Layout title={title} siteMetadata={siteMetadata} menu={menu}>
  <AstroMap layerId={layerId} />
  <div class={css({ pt: "md", pb: 32 })}>
    <Content />
  </div>
</Layout>
