---
import Layout from "../layout/layout.astro";
import { AstroMap } from "../components";
import { menu, siteMetadata } from "../data";
import type { LayerNames } from "../components/scripts/layers";

interface Props {
  frontmatter?: {
    title?: string;
    description?: string;
    layerId: LayerNames;
  } | null;
}

const { frontmatter } = Astro.props;
---

<Layout
  siteMetadata={siteMetadata}
  menu={menu}
  title={frontmatter?.title}
  description={frontmatter?.description}
>
  <AstroMap layerId={frontmatter?.layerId ?? "gsiOptVt"} />
  <div>
    <slot />
  </div>
</Layout>
